@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Creepster&family=League+Gothic&family=Oxygen:wght@700&family=Press+Start+2P&family=Roboto+Mono:ital,wght@1,200&family=Rubik+Glitch&display=swap');

$primary: #5181aa;
$danger: #831c8a;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "../node_modules/bootstrap/scss/bootstrap";



:root{
    --bs-body-font-family: 'Press Start 2P', cursive;
}