
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

.specialbutton:hover{
    color: rgb(180, 180, 165);
}
.specialbutton{
    color: rgb(16, 16, 16);
}

:root{
    --bs-body-font-family: 'Carter One', cursive;
}

.mainpage{
    background-color: rgb(25, 25, 25);
}
